<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <style>
        #text::after {
            content: "";
            /* position: absolute; */
            top: 0;
            right: -15px;
            /* Remove display: inline-block if not required to be on the same line as text etc */
            display: inline-block;
            background-color: #606060;
            vertical-align: top;
            width: 10px;
            /* Set height to the line height of .text */
            height: 15px;
            /* 
            Animation paramaters:
            blink = animation-name, 
            1s = animation-duration, 
            step-end = animation-timing-function,
            infinite = animation-iteration-count
            */
            -webkit-animation: blink 1s step-end infinite;
            animation: blink 1s step-end infinite;
        }

        @-webkit-keyframes blink {
            0% { opacity: 1.0; }
            50% { opacity: 0.0; }
            100% { opacity: 1.0; }
        }

        @keyframes blink {
            0% { opacity: 1.0; }
            50% { opacity: 0.0; }
            100% { opacity: 1.0; }
        }
    </style>
</head>
<body>
    <div class="container">
        <form>
            <div class="row">
                <div class="jumbotron mt-3 col-12">
                    <h3>Etsy Webscraper - Python Sample</h3>
                    <p>
                        Scrape Etsy search results. 
                        <a  class="btn btn-outline-info btn-sm" href="https://gitlab.com/gcuabo/php-webscraper/" target="_blank"><i class="fa fa-gitlab" aria-hidden="true"></i> Source Code </a>
                    </p>
                </div>

                <div class="col-9">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Search String</label>
                        <input type="text" class="form-control" id="searchStringInput" aria-describedby="emailHelp" placeholder="Search on Etsy">
                        <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label for="pagesSelect">Pages</label>
                        <select class="form-control" id="pagesSelect">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
                <div class="col-12">
                    <a href="#" id="submit-btn" class="btn btn-primary btn-primary" onclick="submit()"><i class="fa fa-download" id="button-icon" aria-hidden="true"></i> Fetch Results</a>
                </div>
            </div>
            <div class="row">
                <div class="col-12 mt-3">
                    <div class="card">
                        <div class="card-body" style="background-color:black; color:#1be71b;font-family: 'Inconsolata', monospace;height:500px;overflow-y:scroll;font-size:11px" id="console-wrapper">
                            <div id="console"></div>
                            <div> <span id="text"> > </span> </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
      
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        var socket = io();
        // socket.on('connect', function() {
        //     socket.emit('connect', {data: 'I\'m connected!'});
        // });
        
        socket.on('console_response', function(data) {
            $("#console").append(` > ${data}<br/>`);
            $("#console-wrapper").scrollTop($("#console-wrapper")[0].scrollHeight);
        });

        socket.on('done', function(data) {
            done();

            let filename = data['filename'];
            var a = document.createElement('a');
            a.href = `python/download/${filename}`;
            document.body.appendChild(a);
            a.click();
        });

        function submit(){
            let p = $("#pagesSelect").val();
            let s = $("#searchStringInput").val();
            loading();
            socket.emit('run', {p: p, s: s});
        }

        function loading(){
            $("#button-icon").removeClass('fa-download');
            $("#button-icon").addClass('fa-spinner fa-spin');
            $("#submit-btn").addClass('disabled');
        }

        function done(){
            $("#button-icon").removeClass('fa-spinner fa-spin');
            $("#submit-btn").removeClass('disabled');
            $("#button-icon").addClass('fa-download');
        }
    </script>
</body>